<div class="col-md-12">
    <div class="card card-container">
      <form [formGroup]="signUpForm" (ngSubmit)= "onSubmit()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            formControlName="firstName"/>
        </div>
        <div class="form-group">
          <label for="middleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            name="middleName"
            formControlName="middleName"/>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            formControlName="lastName"/>
        </div>
        <div class="form-group">
          <label for="mobileNumber">Mobile Number</label>
          <input
            type="tel"
            class="form-control"
            name="mobileNumber"
            formControlName="mobileNumber"/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            formControlName="email"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            formControlName="password"/>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
        <select class="form-control"
          name="country"
          formControlName = "country"
          (change)="populateState($event)">
          <option *ngFor="let countryItem of countryList"
           [value]="countryItem.countryCode">{{countryItem.countryName}}</option>
         </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            SignUp
          </button>
        </div>
      </form>
    </div>
  </div>